streamlit
openai
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
faiss-cpu
python-dotenv
gspread
google-auth-oauthlib
rank_bm25
fugashi
unidic-lite
tiktoken
sudachipy
sudachidict-full
rank_bm25
